/**
* @file
* Navigation
*/

.menu--main {
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .slimmenu {
    .menu-item {
      @include reset;
      border: none;
      a {
        padding: rem(5) rem(20);
        background: $link-color;
        color: $white;
        text-transform: uppercase;
        @include typecsset-font-size(15px);
        font-weight: $normal;
        @include transition(.25s, all);
        &:hover {
          background: $link-color-hover;
        }
      }
      .sub-toggle {
        @media screen and ($bp-larger-than-tablet) {
          display: none;
        }
        height: rem(35);
        i {
          @include typecsset-font-size(12px);
          font-style: inherit;
        }
      }
      &.has-submenu {
        @media screen and ($bp-larger-than-tablet) {
          > a {
            padding: rem(5) rem(30) rem(5) rem(20);
            position: relative;
            &:after {
              content: '';
              @include triangle('down', 6px, $white);
              position: absolute;
              top: rem(15);
              right: rem(5);
            }
          }
        }
        .sub-menu {
          @media screen and ($bp-larger-than-tablet) {
            width: 12rem;
            padding-top: .5rem;
          }

          width: 100%;
          padding-top: 0;
          box-shadow: 0 6px 12px rgba(0,0,0,.5);
          .menu-item {
            width: 100%;
            a {
              color: $link-color;
              background: $white !important;
              text-transform: capitalize;
              &:hover {
                background: $secondary !important;
                color: white;
              }
            }
          }
        }
        &.sm-hover {
          a {
            background: $link-color-hover;
          }
        }
        .has-submenu {
          @media screen and ($bp-larger-than-tablet) {
            > a {
              &:after {
                @include triangle('down', 6px, $black);
              }
            }
          }
        }
      }
    }
  }

}

.menu-collapser {
  background: $primary !important;
}
