/**
* @file
* Typography
*/

body {
  font-family: $body-font;
  font-weight: $normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: $bold;
  color: $eclipse;
  letter-spacing: normal;
}

h1 {
  @include typecsset-font-size(30px);
}

h2 {
  @include typecsset-font-size(26px);
}

h3 {
  @include typecsset-font-size(24px);
}

h4 {
  @include typecsset-font-size(20px);
}

h5 {
  @include typecsset-font-size(18px);
}

h6 {
  @include typecsset-font-size(16px);
}

p.lead {
  @include typecsset-space(margin-bottom);
}

.content ul {
  @include unordered;
}

.content ol {
  @include ordered;
}

strong, b {
  font-weight: $bold;
}

em, i, q {
  font-style: italic;
}

blockquote {
  @include typecsset-font-size(20px);
}

hr {
  background: none;
  height: 1px;
  border: 1px solid $charcoal;
  @include typecsset-space(margin-bottom);
}

blockquote {
  font-style: italic;
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  color: $charcoal;
  &:before {
    content: "\201C";
    @include typecsset-font-size(36px);
    margin-right: 0.2rem;
    vertical-align: -0.4rem;
  }
  &:after {
    content: "\201D";
    @include typecsset-font-size(36px);
    vertical-align: -0.45em;
  }
  p {
    padding: 0 0 0 1rem;
    margin-bottom: .5rem;
    @include typecsset-font-size(24px);
    &:last-child {
      margin-bottom: 0;
    }
    &:before, &:after {
      content: '';
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
  @include transition(.2s, color);
  &:hover, &:focus {
    color: $link-color-hover
  }
  &.button {
    padding: 1rem;
    border: 1px solid $charcoal;
    background: $charcoal;
    &:hover {
      color: $white;
    }
  }
}


figcaption{
  @include typecsset-font-size(10px);
  line-height: 1.4;
}