/**
* @files
* Components.
*/

*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.navigation {
  .menu {
    @include reset;
    .menu-item {
      float: left;
      margin-right: rem(10);
    }
  }
}
