/**
 * @file
 * Mixins.
 */

@mixin box {
  border: white 0em solid;
  -webkit-border-radius: 0.15em 0.15em;
  -moz-border-radius: 0.15em / 0.15em;
  border-radius: 0.15em / 0.15em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  > li {
    display: block;
    float: left;
    &:last-child {
      margin-right: 0px;
    }
  }
}

@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin hide-text {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

@mixin border($color, $width, $style) {
  border: $color $width $style;
  -webkit-border-radius: 0.15em 0.15em;
  -moz-border-radius: 0.15em / 0.15em;
  border-radius: 0.15em / 0.15em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin inset-shadow {
  box-shadow: inset 0px 0px 85px rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, .5);
}

@mixin transition($delay, $property) {

  -webkit-transition: $delay $property ease-out;
  -moz-transition: $delay $property ease-out;
  -ms-transition: $delay $property ease-out;
  -o-transition: $delay $property ease-out;
  transition: $delay $property ease-out;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin gradient {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f0f0f0');
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f0f0f0));
  background: -moz-linear-gradient(top, #fefefe, #f0f0f0);
}

@mixin reset {
  margin: 0;
  padding: 0;
}

// List styles
// -------------------------------------------------------

// Mixins for list style types
@mixin unordered {
  list-style-position: inside;
  list-style-type: disc;
}

@mixin unordered-inside {
  list-style-position: inside;
  list-style-type: disc;
}

@mixin ordered {
  list-style-position: inside;
  list-style-type: decimal;
}

@mixin ordered-inside {
  list-style-position: inside;
  list-style-type: decimal;
}

@mixin nobullet {
  list-style-type: none;
}

// Html5 inputs
// -------------------------------------------------------

/*From seven theme.*/
@mixin input() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/*From seven theme.*/
@mixin input-focus() {
  color: #000;
  border-color: rgba(0, 116, 189, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(220, 220, 220, 0.4);
  outline-color: rgba(0, 116, 189, 0.5);
}

/*
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
@mixin triangle($direction, $size: 6px, $color: #222) {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  @if ($direction == 'up') {
    border-bottom: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  } @else if ($direction == 'down') {
    border-top: $size solid $color;
    border-left: 1/2*$size solid transparent;
    border-right: 1/2*$size solid transparent;
  } @else if ($direction == 'left') {
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-right: $size solid $color;
  } @else if ($direction == 'right') {
    border-top: 1/2*$size solid transparent;
    border-bottom: 1/2*$size solid transparent;
    border-left: $size solid $color;
  }
}
