/**
* @file
* Override elements from Skeleton.
*/

.container {
  max-width: $grid-width;
  width: 95%;
  padding: 0;
  @media screen and ($bp-larger-than-desktophd) {
    width: 100%;
  }
  &.u-full-width {
    width: 100% !important;
  }
}

.u-pull-right {
  float: right !important;
}

.u-pull-left {
  float: left !important;
}

ul, ol, dd {
  margin-left: rem(32);
}