$grid-width: rem(1010);

// Breakpoints
$bp-smaller-than-mobile: "max-width: 400px" !default;
$bp-smaller-than-phablet: "max-width: 550px" !default;
$bp-smaller-than-tablet: "max-width: 750px" !default;
$bp-smaller-than-desktop: "max-width: 1000px" !default;
$bp-smaller-than-desktophd: "max-width: 1200px" !default;

// Fonts
$body-font: 'Open Sans', sans-serif;
$title-font: 'Arimo', sans-serif;

// Font Weights
$light: 300;
$normal: 400;
$bold: 700;

// Greyscale UI Colors
$white: #fff;
$black: #000;
$eclipse: #3d3d3d;
$grey: #999;
$light-grey: #ccc;
$whisper: #eee;

// Colors
$primary: #389bd3;
$secondary: #249165;
$link-color: $primary;
$charcoal: #36454f;
$link-color-hover: #2b7ba7;
$text-color: #333;
