/**
* @files
* Layout.
*/

html, body {
  max-width: 100%;
}

body {
  @include typecsset-font-size(12px);
  color: $text-color;
  font-family: $body-font;
  font-weight: $normal;
  word-wrap: break-word;
  @media ($bp-larger-than-phablet) {
    @include typecsset-font-size(14px);
  }
}

#header {
  .site-top {
    background: $eclipse;
  }
  .site-navigation {
    background: $primary;
  }
}

#footer {
  background: $white;
  .footer-top {
    border-top: 1px solid $grey;
    background: $light-grey;
  }
  .site-footer {
    background: $whisper;
  }
  .footer-bottom {
    background: $white;
  }
}
