{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.branding: Items for the site branding.
 * - page.secondary_header: Items for the secondary header region.
 * - page.navigation: Items for the navigation region.
 * - page.featured: Hero region for featured items.
 * - page.highlighted: Items for highlighten region.
 * - page.left_sidebar: Items for the first sidebar.
 * - page.content: Items for the main content.
 * - page.right_sidebar: Items for the second sidebar.
 * - page.highlighted_bottom: Items for the secondary highlighted region.
 * - page.left_sidebar_bottom: Items for the secondary left sidebar region.
 * - page.content_bottom: Items for the secondary content region.
 * - page.right_sidebar_bottom: Items for the secondary right sidebar region.
 * - page.featured_bottom: Items for the secondary featured region.
 * - page.featured_bottom: Items for the secondary featured region.
 * - page.footer_top: Items for the footer region.
 * - page.footer_first: Items for the main footer first region.
 * - page.footer_second: Items for the main footer second region.
 * - page.footer_third: Items for the main footer third region.
 * - page.footer_fourth: Items for the main footer fourth region.
 * - page.footer_bottom: Items for the main footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div class="u-max-full-width" id="page">
    <header id="header" class="mv2 zero-margin-top" role="heading">
      {% if page.header %}
        <div class="site-top">
          <div class="container">
            <div class="u-full-width header-top">{{ page.header }}</div>
          </div>
        </div>
      {% endif %}
      <div class="container">
        <div class="row site--header">
          <div class="four columns site-branding">{{ page.branding }}</div>
          <div class="six columns site-header u-pull-right">{{ page.secondary_header }}</div>
        </div>
      </div>
      <nav id="navbar" class="u-full-width site-navigation" role="navigation">
        <div class="container">
          {{ page.navigation }}
        </div>
      </nav>
    </header>

    {#featured region#}
    {% if page.featured %}
      <section class="u-full-width hero">
        <div class="container">
          {{ page.featured }}
        </div>
      </section>
    {% endif %}

    {#set content and bottom content classes#}
    {% set content_classes = [
    'layout-content',
    page.left_sidebar and page.right_sidebar ? 'one-third column',
    page.left_sidebar and page.right_sidebar is empty ? 'two-thirds column',
    page.right_sidebar and page.left_sidebar is empty ? 'two-thirds column',
    page.left_sidebar is empty and page.right_sidebar is empty ? 'u-full-width'
    ] %}
    {% set content_bottom_classes = [
    'layout-content',
    'layout-content-bottom',
    page.left_sidebar_bottom and page.right_sidebar_bottom ? 'one-third column',
    page.left_sidebar_bottom and page.right_sidebar_bottom is empty ? 'two-thirds column',
    page.right_sidebar_bottom and page.left_sidebar_bottom is empty ? 'two-thirds column',
    page.left_sidebar_bottom is empty and page.right_sidebar_bottom is empty ? 'u-full-width'
    ] %}

    {#main container#}
    <section class="u-full-width content-top pad2" id="main-content">
      <div class="row">
        {% if page.highlighted %}
          <div class="container highlighted highlighted-top">
            {{ page.highlighted }}
          </div>
        {% endif %}
        <div class="container">
          <div class="row">
            {% if page.left_sidebar %}
              <aside class="one-third column sidebar left-sidebar">
                {{ page.left_sidebar }}
              </aside>
            {% endif %}
            <div {{ content_attributes.addclass(content_classes) }}>
              {% block content %}
                <a id="main-content"></a>
                {{ page.content }}
              {% endblock %}
            </div>
            {% if page.right_sidebar %}
              <aside class="one-third column sidebar right-sidebar">
                {{ page.right_sidebar }}
              </aside>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    {% if page.highlighted_bottom or page.content_bottom %}
      <section class="u-full-width content-bottom pad2 zero-padd-top" id="content-bottom">
        <div class="row">
          {% if page.highlighted %}
            <div class="container highlighted highlighted-bottom">
              {{ page.highlighted_bottom }}
            </div>
          {% endif %}
          <div class="container">
            <div class="row">
              {% if page.left_sidebar_bottom %}
                <aside class="one-third column sidebar left-sidebar">
                  {{ page.left_sidebar_bottom }}
                </aside>
              {% endif %}
              <div {{ attributes.addclass(content_bottom_classes) }}>
                {{ page.content_bottom }}
              </div>
              {% if page.right_sidebar_bottom %}
                <aside class="one-third column sidebar right-sidebar">
                  {{ page.right_sidebar_bottom }}
                </aside>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {#featured bottom#}
    {% if page.featured_bottom %}
      <section class="u-full-width">
        <div class="container hero featured-bottom"> {{ page.featured_bottom }}</div>
      </section>
    {% endif %}

    {#set footer classes#}
    {% set footer_classes = [
    'footer-blocks',
    page.footer_first and page.footer_second and page.footer_third and page.footer_fourth ? 'three columns',
    page.footer_first and page.footer_second and page.footer_third and page.footer_fourth is empty ? 'one-third column',
    page.footer_first and page.footer_second and page.footer_third is empty and page.footer_fourth is empty ? 'one-half column',
    page.footer_first and page.footer_second is empty and page.footer_third is empty and page.footer_fourth is empty ? 'u-full-width',
    page.footer_first is empty and page.footer_second and page.footer_third and page.footer_fourth ? 'one-third column',
    page.footer_first is empty and page.footer_second is empty and page.footer_third and page.footer_fourth ? 'one-half column',
    page.footer_first is empty and page.footer_second is empty and page.footer_third is empty and page.footer_fourth ? 'u-full-width',
    page.footer_first is empty and page.footer_second and page.footer_third is empty and page.footer_fourth ? 'one-half column',
    page.footer_first is empty and page.footer_second and page.footer_third and page.footer_fourth is empty ? 'one-half column',
    page.footer_first and page.footer_second is empty and page.footer_third and page.footer_fourth ? 'one-third column',
    page.footer_first and page.footer_second and page.footer_third is empty and page.footer_fourth ? 'one-third column',
    page.footer_first is empty and page.footer_second is empty and page.footer_third and page.footer_fourth is empty ? 'u-full-width',
    page.footer_first is empty and page.footer_second and page.footer_third is empty and page.footer_fourth is empty ? 'u-full-width',
    ] %}

    {#footer region#}
    <footer class="footer mv2 zero-margin-bottom" id="footer">
      {% if page.footer_top %}
        <div class="footer-top u-max-full-width">
          <div class="container">
            <div class="row">
              {{ page.footer_top }}
            </div>
          </div>
        </div>
      {% endif %}
      {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="site-footer u-full-width clearfix">
          <div class="container">
            <div class="row">
              <div {{ attributes.setattribute('class', footer_classes) }}>
                {{ page.footer_first }}
              </div>
              <div {{ attributes.setattribute('class', footer_classes) }}>
                {{ page.footer_second }}
              </div>
              <div {{ attributes.setattribute('class', footer_classes) }}>
                {{ page.footer_third }}
              </div>
              <div {{ attributes.setattribute('class', footer_classes) }}>
                {{ page.footer_fourth }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if page.footer_bottom %}
        <div class="footer-bottom u-max-full-width">
          <div class="container">
            <div class="row">
              {{ page.footer_bottom }}
            </div>
          </div>
        </div>
      {% endif %}
    </footer>
  </div>
</div>