.block {
  .block-title{
   color: $secondary;
  }
  &.bordered-block {
    padding: 1rem;
    @include box;
    @include border($eclipse, 1px, solid);
    .block-title {
      padding-bottom: rem(8);
      position: relative;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: $whisper;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  &.bordered-title {
    .block-title {
      padding: 0 rem(8) rem(8);
      border-bottom:  1px dotted $eclipse;
    }
    .block-content {
      padding: 0 rem(8);
    }
  }
}