.comment-wrapper {
  margin-top: rem(20);
  padding-top: rem(20);
  border-top: 1px solid $whisper;
}

.comment {
  margin-bottom: rem(20);
  vertical-align: top;
  display: table;
  .avatar {
    float: left;
    width: 3rem;
    margin-right: 1rem;
    @media screen and ($bp-larger-than-phablet) {
      width: inherit;
    }
    img {
      height: auto;
      border-radius: 10px;
    }
  }
  .comment-body {
    margin-left: 4rem;
    @media screen and ($bp-larger-than-phablet) {
      margin-left: 5.5rem;
    }
  }
  .comment__meta {
    .comment__author {
      display: inline-block;
    }
    .comment__permalink {
      float: right;
      font-size: 0;
      background: url("../../imagine/images/permalink.svg") no-repeat;
      //background-size: 15px;
      a {
        display: inline-block;
        width: rem(15);
        height: rem(15);
      }
    }
  }
  .comment__content {
    @include typecsset-font-size(14px);
    h4 {
      margin: .5rem 0;
    }
  }
  .comment__footer {
    @include typecsset-font-size(12px);
    .comment__time {
      font-style: oblique;
      color: $eclipse;
      margin-right: 1.5rem;
    }
  }
}

.indented {
  padding: 0 0 0 1em;
  border-left: 1px solid $whisper;
  @media screen and ($bp-larger-than-phablet) {
    padding: 0 0 0 2rem;
  }
}