/**
* @file
* Node styling.
*/

article {
  &.node--view-mode-teaser {
    border-bottom: 1px dotted $light-grey;
    .node__title {
      line-height: 1;
      font-weight: $normal;
    }
    .node__meta {
      margin-bottom: 0;
    }
  }
  .node__meta {
    margin-bottom: rem(16);
  }

  .node__author_img {
    position: absolute;
    left: rem(-95);
    top: 0;
  }

  .field--name-field-image {
    @media screen and ($bp-larger-than-tablet) {
      float: right;
      margin-left: rem(16);
      margin-bottom: rem(16);
    }
    float: none;
    clear: both;
    margin: 0;
  }

  .field--name-field-tags {
    float: none;
    clear: both;
    display: inline-block;
    width: 50%;
    .field__item {
      float: left;
      margin-right: rem(8);
      @include typecsset-font-size(12px);
    }
  }

  .node__links {
    float: right;
    display: inline-block;
    @include typecsset-font-size(12px);
  }
}