/**
* @file
* Search box and page.
*/

.block-search, .search-form {
  label {
    margin-right: 1rem;
  }
  form, .form-search, .form-submit {
    @include reset;
  }
  .form-search {
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $grey;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-width: 85%;
    &:focus {
      outline: 0;
      border: none;
      border-bottom: 1px solid $black;
    }
  }
  .form-submit {
    font-size: 0;
    border: none;
    background: url('../../imagine/images/search.svg') no-repeat 0;
    width: rem(40);
  }
}

.search-form {
  .form-search{
    min-width: inherit;
  }
}