/**
* @file
* Design.
*/

.site-branding {
  .site-logo {
    margin-right: rem(10);
  }
  .site-name {
    display: inline-block;
    margin-top: rem(25);
    a {
      @include typecsset-font-size(32px);
      line-height: 0;
      font-family: $title-font;
      font-weight: $bold;
    }
  }
}

.header-top {
  font-family: $body-font;
  color: $white;
  display: table;
  padding: rem(5) 0;
  @include typecsset-font-size(13px);
  a {
    color: $white;
    &:hover {
      color: $whisper;
    }
  }
  .block {
    float: left;
  }
  .menu--account {
    float: right !important;
    margin-top: -2px;
    a {
      padding: rem(13);
    }
  }
}